/* ==== MAIN CSS ==== */


@import url('https://fonts.googleapis.com/css?family=Raleway');

body {

    font-family: 'Raleway', sans-serif;
    background-image: url(../media/img/BG-01.jpg);
    background-size: 100% auto;
    color: rgb(154, 117, 55);

}

h1 {

    color: rgb(154, 117, 55);

}

main {

    position: absolute;
    margin-top: 15em;
    margin-bottom: 8em;
    z-index: 0;

}

footer {

    background-color: rgba(0, 0, 0, 0.88);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;

}

footer ul {

    list-style: none;
    padding: 0;

}

footer ul li {

    display: inline;
    margin-right: 0.5em;
    float: right;

}

footer ul li a {

    text-decoration: none;
    color: rgb(154, 117, 55);
    padding-left: 0.5em;
    font-size: 1.5em;

}

footer ul li a:hover {

    animation: fadeIn 0.1s linear;
    color: rgb(223, 169, 76);

}



/* ==== ID:S ==== */

#menu-icon {

    float: right;
    display: block;

}



/* ==== CLASSES ==== */

.navigationBar {

    position: fixed;
    width: 100%;
    background-color: #140f04;
    left: 0;
    margin-top: 10em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    z-index: 100;

}

.navigationBar ul {

    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;

}

.navigationBar ul li {

    display: inline;

}

.navigationBar ul li a {

    text-decoration: none;
    color: rgb(154, 117, 55);
    font-weight: bold;
    padding: 1em;
    display: none;

}

.navigationBar ul li a:hover {

    animation: fadeIn 0.1s linear;
    color: rgb(223, 169, 76);

}

.navigationBar ul li:first-child > a {

    display: inline-block;

}

.navigationBar.dropmenu ul li a {

    display: block;
    top: 1em;
    float: none;

}

.navigationBar.dropmenu #menu-icon {

    position: absolute;
    right: 0;
    top: 0;

}

.material-icons {

    font-size: 0.9em;

}

.logo-size {

    max-width: 500px;
    width: 70vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}

.background {

    position: fixed;
    background-color: rgba(0, 0, 0, 0.88);
    width: 100%;
    margin-top: 0;
    padding-bottom: 10em;
    z-index: 80;

}

.header {

    display: block;
    max-width: 100vw;
    margin-top: 0;
    margin-left: 50vw;
    transform: translateX(-50%);
    position: fixed;
    padding: 0;
    z-index: 90;

}

.wrapper {

    display: grid;
    max-width: 900px;
    width: 70%;
    margin-left: 50vw;
    transform: translateX(-50%);
    padding: 0;

}

.footwrapper {

    display: grid;
    max-width: 890px;
    width: 70%;
    margin-left: 50vw;
    margin-bottom: 0;
    transform: translateX(-50%);
    padding: 0;

}



/* ==== MEDIA QUERIES ==== */

@media screen and (min-width: 700px) {

    @keyframes fadeIn {

        0% {color: rgb(154, 117, 55);}
        100% {color: rgb(223, 169, 76);}
    
    }

    .navWrapper {

        max-width: 900px;
        width: 70%;
        margin-left: 50vw;
        transform: translateX(-50%);
        padding: 0;

    }

    .navigationBar ul li a {

        display: inline-block;
        padding-left: 0;
    
    }

    #menu-icon {

        display: none;

    }

}